.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
    text-align: center;
}

.popup-title {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.popup-description {
    font-size: 1em;
    margin-bottom: 20px;
}

.popup-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.popup-close-button {
    background-color: #5E0A83;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 90px;
    height: 40px;
    text-align: center;
}

.popup-close-button:hover {
    background-color: #61676d;
}

.popup-resume-button {
    background-color: #f70387;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
    width: 50px;
    height: 20px;
}

.popup-resume-button:hover {
    background-color: #d00273;
}