.anas-acad-footer {
    height: fit-content;
    display: flex;
    flex-direction: column;
    width: 1221px;
}

.anas-acad-socials{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.anas-logos-main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.top-container {
    height: fit-content;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items:flex-start;
}

.top-one {
    text-align: right;
    margin-top: 40px;
    order: 1;
}

.top-one-title {
    border-right: 1px solid #FFD000;
    padding-right: 10px;
    font-size: 22px;
    font-weight: 400;
    line-height: 45px;
}

.top-one-content {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.top-one-item {
    padding-left: 0;
    padding-right: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    color: white;
}

.top-one-item:hover {
    color: #FFD000;
    cursor: pointer;
}

.top-four {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    text-align: right;
    gap: 10px;
    order: 2;
}

.stores-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.top-four-rating {
    text-align: right;
}

.rate-desc {
    margin-bottom: 0;
}

.stars-container {
    list-style: none;
    display: inline-flex;
    color: #F4C90C;
    gap: 5px;
}

.star {
    width: 20px;
    height: 20px;
}

.rate {
    font-size: 18px;
    font-weight: 500;
    color: #F4C90C;
}

.top-five {
    margin-top: 40px;
    text-align: right;
    order: 2;
}

.contact-buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 20px;
}

.contact-button {
   
    width: fit-content;
    min-width:150px ;
    height: fit-content;
    padding: 10px ;
    font-size: 18px;
    font-weight: 100;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: #f70387;
}

.contact-button-text {
    text-decoration: none;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;

}

.phone {
    width: 14px;
    height: 14px;
}

.contact-button:hover {
    background-color: #5E0A83;
}

@media (max-width: 1400px) {
    .anas-acad-footer {
        width: 1200px;
        justify-content: space-between;
    }
}

@media (max-width: 1221px) {
    .anas-acad-footer {
        width: 1000px;
    }
    .anas-acad-socials {
        justify-content: space-between;
    }
}
@media (max-width: 1024px) {
    .anas-acad-footer {
        width: 850px;
    }
    .anas-acad-socials {
        width: 850px;
        justify-content: space-between;
        align-items: center;
        margin: auto;
    }
    .anas-logos-main-container {
        margin: 0;
        padding-top: 40px;
    }
    .top-container {
        height: fit-content;
        flex-wrap: wrap;
        flex-grow: 1;
        padding-bottom: 40px;
        width: 850px;
        margin: auto;
    }
    .top-one {
        margin-top: 40px;
        width: 30%;
    }
    .top-one-title {
        font-size: 16px;
    }
    .top-one-item {
        font-size: 12px;
    }
    .top-four {
        margin-top: 20px;
        width: 65%;
        flex-direction: row-reverse;
        align-items: center;
        gap: 80px;
        order: 3;
    }
    .rate-desc {
        margin-bottom: 0;
    }
    /* .stores-container {
        flex-direction: column;
    } */
    .top-five {
        margin-top: 20px;
        width: 30%;
        order: 2;
    }
    .contact-button {
        font-size: 14px;
        padding: 8px;
    }
}
@media (max-width: 950px) {
    .anas-acad-footer {
        width: 780px;
    }
    .anas-acad-socials {
        width: 760px;
    }
    .top-container {
        width: 780px;
    }
}
@media (max-width: 820px) {
    .anas-acad-footer {
        width: 780px;
    }
    .anas-acad-socials {
        width: 720px;
    }
    .top-container {
        width: 750px;
    }
    
}
@media (max-width: 780px) {
    .anas-acad-footer {
        width: 650px;
    }
    .anas-acad-socials {
        width: 650px;
    }
    .anas-logos-main-container {
        margin: 0;
        padding-top: 40px;
    }
    .top-container {
        width: 680px;
    }
}
@media (max-width: 540px) {
    .anas-acad-footer {
        width: 100%;
    }
    .anas-acad-socials {
        width: 450px;
        align-items: center;
    }
    .anas-logos-main-container {
        padding-top: 20px;
    }
    .top-container {
        width: 450px;
    }
    .top-one {
        width: 50%;
    }
    .top-one-content {
        padding-left: 0;
    }
    .top-four {
        width: 100%;
        margin-top: 60px;
    }
    .contact-button {
        width: 120px;
    }
    .stores-container {
        flex-direction: column;
    }
    .rate-desc {
        margin-top: 0;
    }
    .top-five {
        width: 50%;
        margin-top: 40px;
    }
}

@media (max-width: 430px) {
    .anas-acad-socials {
        width: 340px;
        margin: auto;
        padding: 0;
    }
    .anas-acad-footer {
        width: 360px;
    }
    .top-container {
        width: 360px;
        margin: auto;
    }
}

@media (max-width: 390px) {
    .anas-acad-footer {
        width: 340px;
    }
    .anas-acad-socials {
        width: 340px;
    }
    .top-container {
        width: 340px;
    }
}

@media (max-width: 375px) {
    .anas-acad-footer {
        width: 300px;
    }
    .anas-acad-socials {
        width: 300px;
        margin-right: 40px;
    }
    .top-container {
        width: 300px;
    }
}
@media (max-width: 360px) {
    .anas-acad-footer {
        width: 300px;
    }
    .anas-acad-socials {
        width: 300px;
        margin: auto;
    }
    .top-container {
        width: 300px;
    }
}